*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    place-content: start;
    background-color: rgba(10, 88, 10, 0.541);
    position: sticky;
    
}
.header-links{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 4rem;
}
.header-links-names{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.podguri-logo{
    margin-left: 100px;
    width: 100px;
}
.main{
   background-image: url(/servicespage-photos/bg3.jpg);
   background-size: cover;
   display: grid;
   grid-template-columns: repeat(2, minmax(400px,1fr));
   text-align: center;
   gap: 1rem;
   
}
.services{
    display: grid;
    grid-auto-flow: row;
    place-content: center;
    margin: 40px;
    
    
}
.service-text{
    display: grid;
    gap: 5px;
    background-color: #011017;
    width: 400px;
    padding: 10px;
    color: aliceblue;

}
.pics{
    height: 400px;
    
}
